img {
  width: 400px; /* Tamanho da imagem */
  height: 300px;
  margin-left: 455px;
}
h1, h4, p {
  font-family: "Zeyada", cursive;
  font-weight: 800;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}



